@charset "UTF-8";
@media screen and (min-width: 768px) {
    #burger{
        display: none;
    }
    #logo{
        padding-left: 30px;
    }
    #itens{
        
        display: block;
    }
    #itens > ul{
        background-color: transparent;
        margin-top: -60px;
        margin-bottom: 0px;
        width: 300px;
        padding-left: 13px;
        margin-left: 164px;
        height: 44px;
    }
    #itens>ul>li{
        display: inline-block;
        width: 65px;
        padding: 15px;
    }
    #itens ul>li>a:hover{
        border-radius: 5px;
        margin-top: 0px;
        padding-top: 29px;
        padding-left: 18px;
        margin-left: -18px;
        padding-bottom: 28px;
        padding-right: 27px;

    }
    #ladinho>h2{
        position: top;
    }
    
    
    section.normal>div{
        padding: 20px;
        display: inline-block;
        padding-bottom: 10px;
        margin-right: 35px;
       
       
    }
}
