@charset "UTF-8";
:root{
    --cor001:#0f44f3;
    --cor002:#00030D;
    --cor003:#fbfbfb;
}


body{
    color:var(--cor001);

    font-family: 'Times New Roman', Times, serif;
}
header{
    color: var(--cor001);
    background-color:var(--cor002);
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -21px;   
}
#logo{
    width: 112px;
    margin-left: 32px;
}

nav{
    width: 500px;
    padding-left: 200px;    float: right;
    
    
}
#botton-login{
    font-size: x-large;
    text-align: left;
    margin-top: -70px;
    margin-bottom: 0px;
    width: 231px
}

nav> a{ 
   color: var(--cor001);
    
    padding: 10px;
    width: 300px;
    text-decoration:  dashed;
    
 

    
}
nav> a:hover{
   
    background-color:var(--cor003);
    border-radius: 5px;
   
}
