@charset "UTF-8";
:root{
    --cor0:#202022;
    --cor001:#f30ae0;
    --cor002:#00030D;
    --cor003:#fbfbfb;
}


body{    background-image: linear-gradient(to right, #14140F,#053D38,#34675C);

    
    color:var(--cor001);
    font-family: 'Times New Roman', Times, serif;
}
header{
    position: fixed;
    color: var(--cor001);
    background-color:var(--cor002);
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -20px;  
    box-shadow: 1px 1px 10px black;
    height: 123px;
    width: 100%;
}

h1{
    margin-top: 5px;
    padding-bottom: 11px;
    padding-right: 0px;
    padding-top: 10px;
    width: 132px;
    text-align: center;
}
#menu{
    margin-top: 0px;
    padding-top: 57px;
    padding-bottom: 0px;
    padding-left: 27px;
    width: 56px;
    height: 49px;
    margin-bottom: -85px;
    border-radius: 10px;
    text-align: center;
}
#menu>a:hover{
    background-color:var(--cor003);
    border-radius: 5px;
    display: block;
   
}
#logo{
    margin-left: 0px;
    padding-left: 90px;
    width: 226px;
    margin-left: 32px;
}
#botton-login{
    width: 269px;
    padding-left: 10%;    
    float: right;
    font-size:  large ;
    text-align: left;
    margin-top: -70px;
   
    margin-bottom: 0px;
   
}
nav> a{ 
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor001);
    padding-left: 29px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 28px;
    text-decoration:  dashed;
    text-align: center;    
}
nav>a:hover{
    background-color:var(--cor0);
    border-radius: 5px;
    animation-duration: 1s; 
}
main{
    color: var(--cor003);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
section{
    padding-top: 20vh;
    padding-bottom: 10vh;
}

section.imagem{
    background-color:var(--cor0);
}
